
.imageview{
    -fx-width: 300px;
    -fx-height: 300px;
//background-image: url('/Picture2.png');
    -fx-background-size: cover;
    -fx-background-position: right;
    -fx-border-radius: 5px;
}
.UserNameTF {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.UserNameTF:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.check-box .box {

    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px;

}
.green {
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.check-box:selected .mark {

    -fx-background-color: white;

}

.check-box:selected .box {

    -fx-background-color: #28a3f4;
}
.LogInPane{
    -fx-width: 55%;
    -fx-margin-bottom: 20px;
}
.ParentPane{
    -fx-width: 750px;
    -fx-height: 605px;
    -fx-background-color: #FDF8E9;
    -fx-padding: 30px;
    -fx-border: 10px solid #ddd;
    -fx-border-radius: 10px;
    -fx-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -fx-display: flex;
    -fx-justify-content: space-between;
    -fx-align-items: center;
}
.PasswordPF{
    -fx-width: 100%;
    -fx-padding: 10px;
    -fx-border: 1px solid #ccc;
    -fx-border-radius: 5px;
}
.usernamelabel{
    -fx-display: block;
    -fx-margin-bottom: 10px;
    -fx-font-weight: bold;
}
.passwordlabel{
    -fx-display: block;
    -fx-margin-bottom: 10px;
    -fx-font-weight: bold;
}
.LogInBtt{
    -fx-background-color: #4CAF50;
    -fx-color: #fff;
    -fx-padding: 10px 20px;
    -fx-border: none;
    -fx-border-radius: 5px;
}
.RegisterLine{
    -fx-font-size: 14px;
    -fx-color: #666;
    -fx-text-decoration: none;
}
.ForgotPass{
    -fx-font-size: 14px;
    -fx-color: #666;
    -fx-text-decoration: none;
}
.ShowPassCheckBox{
    -fx-font-size: 14px;
    -fx-color: #666;
}
.PassShowTF{
    -fx-display: block;
    -fx-margin-bottom: 10px;
    -fx-font-weight: bold;
}